.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
    color: black;
  }
  
  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .title_code {
    background: #fafafa;
    border-radius: 5px;
    color: black;
    padding: 0.75rem;
    font-size: 3.0rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

